{% if weather_data %}
    <h1>{{ weather_data.city}} </h1>
    <h2> {{weather_data.temperature}} </h2>
    <p> {{weather_data.description}} </p>
    <img src="http://openweathermap.org/img/w/{{weather_data.icon}}.png" alt=" {{weather_data.description}} " >
{% endif %}

{% if daily_forcasts %}
    <h2> 5-day Forcastes</h2>
    <div class="forecast-container">
        {% for forcast in daily_forcasts %}
            <div class="forecast">
                <h3> {{forcast.day}} </h3>
                <p> {{forcast.min_temp}}°C - {{ forcast.max_temp }}°C</p>
                <p> {{forcast.description }} </p>
                <img src="http://openweathermap.org/img/w/{{forcast.icon}}.png" alt=" {{forcast.description}} " >
            </div>
        {% endfor %}
    </div>

{% endif %}